<?xml version="1.0"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">
<head>
<title>DevOps Class</title>
</head>
<body>
<ui:composition template="/template.xhtml">

	<ui:define name="body">
		<h:form id="form">
			<h:panelGrid id="grid" columns="2">
				<h:outputText id="output1" value="Please enter your name" />
				<h:inputText id="input1" value="#{helloWorldBacking.name}"
					required="true" />
				<h:commandButton id="button1" value="press me"
					action="#{helloWorldBacking.send}" />
				<h:message id="message1" for="input1" />
			</h:panelGrid>
		</h:form>
	</ui:define>
</ui:composition>
</body>
</html>
